@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Lato&family=Poppins&display=swap');

.home {
  margin: 20px auto;
  height: 80vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  text-align: center;
  max-width: 60%;
  gap: 20px;
  font-family: 'Courgette', cursive;
  animation: menu-appear 1s ease-out forwards;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
}

a {
  color: black !important;
}

a:hover {
  color: red !important;
  opacity: 0.5;
}

.slideContainer {
  width: 500px;
  height: 300px;
  margin: 0 auto;
}

@keyframes menu-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .title {
    font-size: 0.7rem;
  }

  .slideContainer {
    height: 100%;
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .title {
    font-size: 1rem;
  }
}
